<footer class="bg-dark text-white text-center mt-3">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Footer Content</h5>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
                    aliquam voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="/" class="text-white">Home</a>
                    </li>
                    <li>
                        <a href="/Home/About" class="text-white">About Me</a>
                    </li>
                    <li>
                        <a href="/Account/Login" class="text-white">Login</a>
                    </li>
                    <li>
                        <a href="/Account/Register" class="text-white">Register</a>
                    </li>
                </ul>
            </div>
           
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <div>
            <h3>Contact Me</h3>
            <a href="https://wa.me/+905380743767?text=Merhaba" class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-whatsapp"></i></a>
            <a href="https://www.instagram.com/mertcan.tskrn/" class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/mertcntaskiran/" class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/mertcan-taskiran/" class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-github"></i></a>
            <a href="https://discord.com/users/Mertcan/#0694" class="btn btn-outline-light btn-floating m-1" role="button"><i class="fab fa-discord"></i></a>
        </div>
    </div>
</footer>
