<div class="btn-group" role="group" aria-label="Basic example">
    <button id="list-button" class="btn btn-dark btn-sm me-1"><i class="fa-solid fa-list"></i></button>
    <button id="grid-button" class="btn btn-dark btn-sm"><i class="fa-solid fa-table-cells"></i></button>
</div>
