<ul class="navbar-nav ms-auto">

    @if (Request.IsAuthenticated)
    {
        if (this.User.IsInRole("admin"))
        {
            @*<li class="nav-item">
                <a href="/Admin/Index" class="nav-link">Admin</a>
            </li>*@
            <li class="nav-item">
                <a href="/Blog/Index" class="nav-link">BlogList</a>
            </li>
            <li class="nav-item">
                <a href="/Kategori/Index" class="nav-link">CategoryList</a>
            </li>
            <li class="nav-item">
                <a href="/Account/Profile" class="nav-link">Account</a>
            </li>
            <li class="nav-item">
                <a href="/Account/LogOut" class="nav-link">Logout</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a href="/Blog/Index" class="nav-link">BlogList</a>
            </li>
            <li class="nav-item">
                <a href="/Account/Profile" class="nav-link">Account</a>
            </li>
            <li class="nav-item">
                <a href="/Account/LogOut" class="nav-link">Logout</a>
            </li>
        }
    }
    else
    {
        <li class="nav-item">
            <a href="/Account/Login" class="nav-link">Giriş</a>
        </li>
        <li class="nav-item">
            <a href="/Account/Register" class="nav-link">Üye Ol</a>
        </li>
    }
</ul>

