<div class="navbar bg-dark navbar-dark navbar-expand-md sticky-top">
    <div class="container">

        <button type="button" class="navbar-toggler border me-3" data-bs-toggle="collapse" data-bs-target="#navbar_main">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a href="/" class="navbar-brand me-auto">Home</a>

        <div class="collapse navbar-collapse" id="navbar_main">
            <ul class="navbar-nav mx-auto">
                @Html.Action("navbarkategori", "Kategori")
                <li class="nav-item">
                    <a href="/Home/About" class="nav-link">AboutMe</a>
                </li>
            </ul>
            <ul class="navbar-nav mx-auto">
                
                @if (Request.IsAuthenticated)
                {
                    if (this.User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a href="/Admin/Index" class="nav-link">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Blog/Index" class="nav-link">Blogs</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Kategori/Index" class="nav-link">Categorys</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Yetenek/Index" class="nav-link">Skills</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Account/Profile" class="nav-link">Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Account/LogOut" class="nav-link">Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="/Account/Profile" class="nav-link">Account</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Account/LogOut" class="nav-link">Logout</a>
                        </li>
                    }
                }
                else
                {
                    <li class="nav-item">
                        <a href="/Account/Login" class="nav-link">Giriş</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Account/Register" class="nav-link">Üye Ol</a>
                    </li>
                }
            </ul>
        </div>
        <ul class="navbar-nav ms-auto d-flex flex-row">
            <li class="nav-item d-flex align-items-center me-3">
                <i id="theme-icon" class="fas fa-moon fs-4"></i>
            </li>
            <li class="nav-item search-icon d-flex align-items-center">
                <i id="search-icon" class="fa-solid fa-magnifying-glass nav-link fs-4"></i>
            </li>
        </ul>
    </div>
</div>
