@using (Html.BeginForm("Ara", "Home", FormMethod.Get, new { @class = "d-flex mt-3" }))
{
    <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-dark" type="submit"><i class="fa-solid fa-magnifying-glass fa-beat"></i></button>
}
