@model IEnumerable<BlogApp.Models.Blog>

<h5 class="text-center mt-3">Most Read Blogs</h5>

@foreach(var item in Model)
{
    <div class="card w-100 mt-2">
        <div class="row g-0">
            <div class="col-md-4">
                <a href="/Home/Detay/@item.Id"><img src="/Content/images/@item.Resim" class="img-fluid rounded-start w-100 h-100" alt="image"></a>
            </div>
            <div class="col-md-8">
                <div class="card-header">
                    <div class="card-text"><small class="text-body-secondary"><i class="fa-regular fa-clock"></i> @item.EklenmeTarihi</small></div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item.Baslik</h5>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <span class="badge rounded-pill text-bg-warning"><i class="fa-regular fa-eye"></i> @item.Goruntulenme</span>
                    <span class="badge rounded-pill text-bg-info"><i class="fa-regular fa-comment"></i> @item.Goruntulenme</span>
                    <span class="badge rounded-pill text-bg-dark"><a href="/Home/Detay/@item.Id" class="text-decoration-none text-white">Read More <i class="fa-solid fa-arrow-right"></i></a></span>
                </div>
            </div>
        </div>
    </div>
}
