@model IEnumerable<BlogApp.Models.Blog>

<h5 class="text-center mt-3">Most Read Blogs</h5>

@foreach (var item in Model)
{

    <div class="card w-100 mt-3">
        <div class="row-cols-lg-1 row-cols-md-2 row g-0 img-thumbnail">
            <div class="col-xl-6">
                <a href="/Home/Detay/@item.Id"><img src="~/Content/images/@item.Resim" class="img-fluid rounded-start w-100 encokimg" alt="image"></a>
            </div>
            <div class="col-xl-6 d-flex flex-column justify-content-between">
                <div class="card-header">
                    <span class="badge rounded-pill text-bg-dark"><div class="card-text"><small class="text-body-secondary"><i class="fa-regular fa-clock"></i> @item.EklenmeTarihi.ToString("dd/MM/yyyy")</small></div></span>
                </div>
                <div class="card-body">
                    @if (item.Baslik.Length > 14)
                    {
                        <h5 class="card-title">@item.Baslik.Substring(0, 14)...</h5>
                    }
                    else
                    {
                        <h5 class="card-title">@item.Baslik</h5>
                    }
                </div>
                <div class="card-footer"  >
                    <span class="badge rounded-pill text-bg-dark"><i class="fa-regular fa-eye"></i> @item.Goruntulenme</span>        
                </div>
            </div>
        </div>
    </div>
}