@model IEnumerable<BlogApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">

        <div class="col-lg-9">

            <div class="d-flex justify-content-between mt-3">
                <p class="h5">Latest Posts <i class="fa-brands fa-blogger-b fa-bounce"></i></p>
                @Html.Partial("_listorgrid")
            </div>

            <!--card-->
            @Html.Partial("_Card")

        </div>

        <div class="col-lg-3">

            <!--search-->
            @*@Html.Partial("_Search")*@

            <!--category-->
            @Html.Action("KategoriListesi", "Kategori")

            <!--most read blogs-->
            @Html.Action("EnCokOkunan","Home")

        </div>

    </div>
</div>