.breadcrumb a {
    color: black;
}

.fa-sun {
    color: #fff;
}

.fa-sun, .fa-moon, #search-icon {
    cursor: pointer;
}

.changePassword {
    color: black;
}

.night-mode {
    background-color: #333;
    color: #f5f5f5;
}

.night-mode .listorgrid .btn,
.night-mode .kategoriler{
    background-color: #d9d9d9;
    color: #000000;
}

.night-mode .listorgrid .btn:hover,
.night-mode .kategoriler:hover {
    background-color: #ffffff;
    color: #000000;
}

.night-mode .listorgrid .btn:focus,
.night-mode .listorgrid .btn:active,
.night-mode .kategoriler:focus,
.night-mode .kategoriler:active {
    background-color: #ffffff;
    color: #000000;
}

.night-mode .card h5,
.night-mode .card p {
    color: #000000 !important;
}

.night-mode .card, .night-mode .card-body, .night-mode .card-header, .night-mode .img-thumbnail {
    background-color: #d9d9d9;
}

.night-mode .breadcrumb a {
    color: white !important;
}

.night-mode .breadcrumb .active {
    color: white !important;
}

.night-mode .table.table-hover.table-striped tr th,
.night-mode .table.table-hover.table-striped tr td {
    color: #fff;
}

.night-mode #search-popup button {
    background-color: black;
    color: white;
}

.night-mode #search-popup button:hover {
    background-color: #333333;
}

.night-mode .changePassword {
    color: white;
}
/*body {
    background-color: #f5f5f5;
    color: #333;
}

.btn {
    background-color: #000000;
    color: #ffffff;
}

.night-mode {
    background-color: #333;
    color: #f5f5f5;
}

.night-mode .btn {
    background-color: #d9d9d9;
    color: #000000;
}

.night-mode .card h5,
.night-mode .card p {
    color: #000000 !important;
}

    .night-mode .card, .night-mode .card-body, .night-mode .card-header, .night-mode .img-thumbnail {
        background-color: #d9d9d9;
    }

.night-mode .btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.night-mode .btn:focus,
.night-mode .btn:active {
    background-color: #ffffff;
    color: #000000;
}

.breadcrumb a {
    color: black;
}

.night-mode .breadcrumb a {
    color: white !important;
}

.night-mode .breadcrumb .active {
    color: white !important;
}

.fa-sun {
    color: #fff;
}

.night-mode .table.table-hover.table-striped tr th,
.night-mode .table.table-hover.table-striped tr td {
    color: #fff;
}

.night-mode #search-popup button{
    background-color:black;
    color: white;
}

.night-mode #search-popup button:hover {
    background-color: #333333;
}

.changePassword{
    color: black;
}

.night-mode .changePassword {
    color: white;
}*/