.encokimg {
    height: 11rem;
}

#btn-group button {
    display: none;
}

#btn-group .active {
    display: block;
}

/*@media (max-width: 1200px) {
    
}

@media (max-width: 992px) {
    
}*/

@media (max-width: 768px) {
    .encokimg {
        height: 17rem;
    }
}

/*@media (max-width: 576px) {
    
}*/